<section>
  <nav>
    <div><img src="#" alt="#"></div>
    <div>
      <a href="#" class="">CONTATO</a>
      <a href="#" class="">LOCALIZAÇÃO</a>
      <a href="#" class="">SOBRE NÓS</a>
      <a href="#" class="">CONSULTORIA</a>
      <a href="#" class="faq">FAQ</a>
    </div>

  </nav>
  <div>
    <header>
      <h1>Perguntas frequentes</h1>
    </header>
    <main>
      <mat-card>
        <mat-card-header>
          <mat-card-title
            >O que é a LGPD e por que minha empresa precisa se adequar a
            ela?</mat-card-title
          >
        </mat-card-header>
        <mat-card-content>
          A LGPD, ou Lei Geral de Proteção de Dados, é uma legislação brasileira
          que estabelece regras e diretrizes para a coleta, armazenamento e uso de
          dados pessoais. Sua empresa precisa se adequar à LGPD para garantir a
          proteção dos dados pessoais de seus clientes e colaboradores, além de
          evitar possíveis multas e sanções por não conformidade.
        </mat-card-content>
      </mat-card>
      <mat-card>
        <mat-card-header>
          <mat-card-title
            >Como a plataforma SYSLGPD pode me ajudar na adequação à LGPD?</mat-card-title
          >
        </mat-card-header>
        <mat-card-content>
          O SYSLGPD é uma plataforma web projetada especificamente para auxiliar empresas na jornada de conformidade com a LGPD. Ele oferece diversas funcionalidades, incluindo o cadastro de empresas e usuários, diagnóstico da situação inicial de conformidade, gerenciamento de documentos e políticas, gestão de projetos usando a metodologia Scrum e acesso a informações sobre a legislação da LGPD.
        </mat-card-content>
      </mat-card>
      <mat-card>
        <mat-card-header>
          <mat-card-title
            >Quais documentos e políticas devo criar para me adequar à LGPD?</mat-card-title
          >
        </mat-card-header>
        <mat-card-content>
          O SYSLGPD fornece orientações sobre os documentos e políticas necessários para a conformidade com a LGPD, mas a criação exata depende das atividades e do tipo de dados que sua empresa lida. Documentos comuns incluem políticas de privacidade, termos de uso e consentimento, além de registros de tratamento de dados.
        </mat-card-content>
      </mat-card>
      <mat-card>
        <mat-card-header>
          <mat-card-title
            >Como posso acompanhar o progresso da adequação à LGPD usando o SYSLGPD?</mat-card-title
          >
        </mat-card-header>
        <mat-card-content>
          O SYSLGPD oferece ferramentas de acompanhamento, como gráficos e relatórios, que permitem monitorar o progresso da adequação, identificar áreas de risco e tomar medidas corretivas quando necessário.
        </mat-card-content>
      </mat-card>
    </main>
  </div>
</section>
